/*General*/
*{
    margin: 0;
    padding: 0;
}

/*Portfolio*/
#container{
    width: 100%;
    height: 395px;
    background: red;
    display: inline-block;
    text-align: center;
    position: absolute;
}

/*First title inside Portfolio*/
.First_Title{
    font-style: normal;
    font-family: 'Roboto', sans-serif;
    font-size: xx-large;
    letter-spacing: 2px;
}

/*Image inside Portfolio*/
#img-01{
    width: 208px;
    height: 227px;
    margin: 46px 0px 0px 20px;
    position: absolute;
    background: blue;
}

#img-02{
    width: 208px;
    height: 227px;
    position: absolute;
    background: blue;
}

#img-03{
    width: 208px;
    height: 227px;
    position: absolute;
    background: blue;
}

#img-04{
    width: 208px;
    height: 227px;
    position: absolute;
    background: blue;
}

/*Our Team*/